body {
    max-width: 90%;
    /* border-style: solid;
    border-width: 1px;
    border-color: #000000; */
    margin: auto;
    background-color: #222222;
    color: #fffbe5;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border-style: ridge hidden;
    border-color: #45ff34;
    background-color: #093306;
    margin: 25px 50px 25px 0px;
    text-align: center;
    color: #5ff0ff;
}

h1 {
    border-width: 15px;
    border-radius: 15px;
    padding: 30px;
}

h2 {
    border-width: 10px;
    border-radius: 10px;
    padding: 20px;
}

h3 {
    border-width: 5px;
    border-radius: 5px;
    padding: 10px;
}

a {
    color: #37a2d7;
}

a:visited {
    color: #d26262;
}

figure {
    /* border-style: solid;
    border-width:1px;
    border-color: #000000; */
    text-align: center;
}

figcaption {
    /* border-style: solid;
    border-width:1px;
    border-color: #000000; */
    text-align: left;
    margin: auto;
    padding: auto;
}

aside {
    /* border-style: solid;
    border-width:1px;
    border-color: #000000; */
    width: 66%;
    margin: auto;
    font-style: italic;
}

pre.singleline-code {
    /*overflow-x: auto;*/
    /* border-style: solid;
    border-width: 1px;
    border-color: #000000; */
    padding: 0 0 0 50px;
    white-space: normal;
}

pre.multiline-code {
    /*overflow-x: auto;*/
    /* border-style: solid;
    border-width: 1px;
    border-color: #000000; */
    margin: 0 0 0 -380px;
    padding: 0 0 0 50px;
}

#main-nav ul {
    /* border-style: solid;
    border-width: 1px;
    border-color: #000000; */
    padding: 0;
    text-align: center;
}

#main-nav ul li {
    /* border-style: solid;
    border-width: 1px;
    border-color: #000000; */
    margin: 0 5px;
    display: inline;
}